* {
    box-sizing: border-box;
}

@font-face {
    font-family: "APhont";
    src: url("fonte/APHont-Regular_q15c.ttf") format("truetype");
    font-display: swap;
}


body {
    background-color: white;
    padding: 20px;
    font-family: APhont;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row>.column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

img {
    opacity: 0.8;
    transition: opacity 0.5s;
    /* Increase the transition delay to 0.5s */
}

img:hover {
    opacity: 1.0;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.texto {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Responsive layout - adjust video size */
@media screen and (max-width: 600px) {
    video {
        width: 100%;
        height: auto;
    }
}

/* General styles for the video container */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
}

/* Hide mobile video by default */
#video-mobile {
    display: none;
}

/* Galeria de imagens */

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Desktop view: show desktop video and hide mobile video */
@media (min-width: 900px) {
    #video-desktop {
        display: block;
        width: 80%;
        /* Adjust width as needed */
        height: auto;
    }

    #video-mobile {
        display: none;
    }
}

/* Mobile view: show mobile video and hide desktop video */
@media (max-width: 800px) {
    #video-desktop {
        display: none;
    }

    #video-mobile {
        display: block;
        width: 80%;
        /* Adjust width as needed */
        height: auto;
    }
}