@font-face {
    font-family: "APhont";
    src: url("fontes/aphont/APHont-Regular_q15c.ttf") format("truetype");
    font-display: swap;
}

body {
    font-family: "APhont", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 18px;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
    width: 80%;
    max-width: 800px;
}

h1,
h2,
h3,
p {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/* Código do acordeon */

.accordion {
    background-color: DodgerBlue;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    /* opacity: 0.6; */
    transition: 0.3s;
    border-radius: 4px;
}

.botao
{   
    background-color: DodgerBlue;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 5px;
}

.active,
.accordion:hover {
    background-color: orange;
}

.accordion:after {
    content: '\002B';
    color: green;
    font-weight: bold;
    float: center;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
    color: green;
}

.panel {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Código do slideshow */

.mySlides {
    display: none
}

img {
    vertical-align: middle;
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: green;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* Código do menu para escolher imagens
.menu-imagem {
    margin: 20px auto;
}

.image-selector, .displayed-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    margin: 20px auto;
} */

/* Código do menu para escolher imagens */
#menu-imagem {
    text-align: center; /* Centraliza o conteúdo dentro do menu-imagem */
    margin: 20px auto;
}

.image-selector {
    display: inline-block; /* Altera o display para inline-block para permitir centralização */
}

#image-container {
    text-align: center; /* Centraliza o conteúdo dentro do image-container */
    margin: 20px auto;
}

.displayed-image {
    display: inline-block; /* Altera o display para inline-block para permitir centralização */
}

